.header {
  height: 6.5rem;
  background: #662a82;
  font-family: "Space Grotesk";
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.linkContainer {
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.item {
  align-self: center;
  margin-top: 15px;
}

.item a {
  font-size: 22px;
  color: #fff;
}

.contact {
  margin-top: 30px;
  margin-bottom: 30px;
}

.contactCont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.contactCont h2 {
  align-self: center;
  font-family: "Space Grotesk";
  font-size: 30px;
  padding-bottom: 30px;
}

.formCont {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: #662a82;
  height: 975px;
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .formCont {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
  }
}
.textCont {
  font-family: "Space Grotesk";
  width: 30%;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.touch {
  position: relative;
  bottom: 3.125rem;
}

@media only screen and (max-width: 600px) {
  .touch {
    position: static;
  }
}

@media only screen and (max-width: 600px) {
  .textCont {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.textCont h3 {
  font-size: 40px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .textCont h3 {
    font-size: 2rem;
  }
}

.textCont span {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  border-top: 4px solid #fff;
  width: 25%;
  margin-left: 80px;
}

@media only screen and (max-width: 600px) {
  .textCont span {
    margin-left: 0;
  }
}

.textCont p {
  width: 75%;
}

@media only screen and (max-width: 600px) {
  .textCont p {
    margin: 0 auto;
  }
}

.nameEmail {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 600px) {
  .nameEmail {
    grid-template-columns: 1fr;
  }
}

.name {
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .name {
    margin-right: 0;
  }
}

.inputCont {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .inputCont {
    width: 75%;
    margin: 0 auto;
  }
}

.inputCont label {
  padding-bottom: 10px;
  color: #fff;
  font-family: "Space Grotesk";
  font-size: 18px;
}

.inputCont input {
  height: 35px;
  margin-bottom: 10px;
  outline: none;
}

.inputCont textarea {
  height: 250px;
  outline: none;
}

.buttonCont {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  background: none;
  border: 1px solid black;
  outline: none;
  padding: 15px 30px;
  color: #fff;
  font-family: "Space Grotesk";
  font-size: 18px;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 100px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-family: "Space Grotesk";
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
