.header {
  height: 6.5rem;
  background: #662A82;
  font-family: "Space Grotesk";
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.linkContainer {

}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.item {
  align-self: center;
  margin-top: 15px;
}

.item a {
  font-size: 22px;
  color: #fff;
}
