.about {
  margin-top: 30px;
  height: 75vh;
  display: flex;
  align-items: center;
  font-family: "Space Grotesk";
}

@media only screen and (min-width: 1200px) {
  .about {
    height: 1000px;
    margin-bottom: 30px;
  }
}

.aboutCont {
  background: #f5f9fa;
}

.aboutTextCont {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .aboutTextCont {
    display: block;
  }
}

@media only screen and (max-width: 1280px) {
  height: 800px;
}

.aboutTextCont h2 {
  font-size: 2.25rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1200px) {
  .aboutTextCont h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}

.aboutTextCont p {
  width: 40%;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 1.5rem;
}

@media only screen and (max-width: 1200px) {
  .aboutTextCont p {
    font-size: 1rem;
    width: 90%;
  }
}

.aboutText {
  padding-bottom: 2rem;
}

.footer {
  width: 100%;
  height: 100px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-family: "Space Grotesk";
}
